h1 {
    background-color: black;
    color :aliceblue;
    text-align: left;
}
span {
    color: aqua;
}
h2 {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center; 
    font-style: italic;
}
h3 {
    background-color: cornflowerblue;
    color :black;
    text-align: right;
    text-decoration:underline;
}
*{
    font-family: sans-serif;
}