.nav{
   display: flex;
    background-color: darkslategrey;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
   width: 50%;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}
a{
    color: aliceblue;
    text-decoration: none;
}

.btn {
    
    color: white;
    border: none;
    font-size: 14px;
    box-shadow: 5px 5px black;
    background-color: darkcyan;
    margin-right: 10px;
}